<div class="container mb-5">
    <div class="cards-carrousel">
      <% @articles.each_with_index do |article, index| %>
          <div class="article-card">
            <% if article.photos.attached? %>
              <%= cl_image_tag article.photos.first.key, class: "article-card-img" %>
            <% end %>
            <div class="article-infos">
              <h5><%= truncate( article.name, length: 100 )%></h5>
              <span><%= article.updated_at.strftime("%b. %d de %Y") %></span>
              <p><%= article.rich_body.to_plain_text %></p>
            </div>
            <%= link_to "Saiba Mais", article_path(article), class: "saiba-mais-btn" %>
          </div>
      <% end %>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center m-5">
  <% if user_signed_in? %>
      <%= link_to "Novo Artigo", new_article_path, class: "btn-custom" %>
  <% end %>
</div>
