<div class="contact-page">
  <div class="contact-page-logo">
    <%= image_tag "logo_instituto", crop: :fill %>
  </div>
  <div class="contact-page-full">
    <div class="contact-cards">
      <div class="inst-mima">
        <h1>Instituto Mima</h1>
      </div>
      <div class="contact-information">
        <%= image_tag "building.svg" , class: "icon" %>
          <p><strong>Edifício Master Tower</strong><br>
          Rua José Alexandre Buaiz, 190 - 10º andar - sala 1008 - Enseada do Suá, Vitória - ES</p>
      </div>
      <div class="contact-information">
        <%= image_tag "whatsapp-square.svg", class: "icon" %>
        <a href="https://wa.me/5527998516085" target="_blank" class="btn-agendamento-contato">Agende via whatsapp</a>
      </div>
      <div class="contact-information">
        <%= image_tag "telephone-in-talk.svg", class: "icon" %>
        <a href="tel:+552730970976" target="_blank">(27) 99851-6085</a>
      </div>
      <div class="contact-information">
        <%= image_tag "email-line.svg", class: "icon" %>
        <a href="mailto:instutomima@gmail.com">instutomima@gmail.com</a>
      </div>
      <div class="contact-information">
        <%= image_tag "instagram.svg", class: "icon" %>
        <a href="https://www.instagram.com/institutomima/" target="_blank" class="instagram-link">@institutomima</a>
      </div>
    </div>
    <div id="map"></div>
    </div>
</div>
