<div class="container">
  <%= image_tag "logo_instituto", crop: :fill, class: "logo" %>
</div>
<div class="container">
  <h1 class="contact-header">Agente sua consulta</h1>
</div>
<div class="address">
  <%= image_tag "building.png", class: "icon" %>
  <p class="p-address">
    <a href="https://www.google.com/maps/search/Edif%C3%ADcio%20Master%20Tower%20Rua%20Jos%C3%A9%20Alexandre%20Buaiz%2C%20190%2F1008%20-%20Enseada%20do%20Su%C3%A1%2C%20Vit%C3%B3ria%20-%20ES" target="_blank">
      <p class="p-address">Edifício Master Tower</p>
      <p class="p-address">Rua José Alexandre Buaiz, 190 - 1008 - Enseada do Suá, Vitória - ES</p>
    </a>
  </p>
</div>

<div class="time">
  <%= image_tag "clock.png", class:"icon" %>
  <table>
    <tbody> <!-- This is the body of the table -->
      <tr>
        <td>Seg - Quin</td>
        <td>08:00 - 21:00</td>
      </tr>
      <tr>
        <td>Sex</td>
        <td>08:00 - 17:00</td>
      </tr>
      <tr>
        <td>Sáb - Dom</td>
        <td>Fechado</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="whatsapp">
  <%= image_tag "whatsapp.png", class: "icon" %>
  <p class="p_whatsapp">
  <h3 class="institute-h3"><a href="https://wa.me/5527998516085" target="_blank" class="btn-agendamento-contato">Agende via whatsapp</a></h3>
  </p>
</div>

<div class="whatsapp">
  <%= image_tag "phone.png", class: "icon" %>
  <p class="p_whatsapp">
  <h3 class="institute-h3"><a href="tel:+552730970976" target="_blank" class="btn-agendamento-contato">Clique para ligar</a></h3>
  </p>
</div>

<div class="contato-email">
  <%= image_tag "message.png", class: "icon" %>
  <p class="p-email"><a href="mailto:instutomima@gmail.com">instutomima@gmail.com</a></p>
</div>

<div class="instagram">
  <%= image_tag "instagram.png", class: "icon" %>
  <p class="p-email"><a href="https://www.instagram.com/institutomima/" target="_blank" class="instagram-link">@institutomima</a></p>
</div>
