<div class="container">
  <%= image_tag "logo_instituto", crop: :fill, class: "logo" %>
</div>
<div class="container">
  <h1 class="contact-header">Agente sua conulta:</h1>
</div>
<div class="address">
<%= image_tag "pin.png", class:"icon" %>
<p class="p-address">Edifício Master Tower Rua José Alexandre Buaiz, 190/1008 - Enseada do Suá, Vitória - ES </p>
</div>

<div class="time">
<%= image_tag "relogio.png", class:"icon" %>
<table>
  <tr>
    <td>Seg - Quin</td>
    <td>08:00 - 21:00</td>
  </tr>
  <tr>
    <td>Sex</td>
    <td>08:00 - 17: 00</td>
  </tr>
  <tr>
    <td>Sáb - Dom</td>
    <td>Fechado</td>
  </tr>
</table>
</div>

<div class="whatsapp">
  <%= image_tag "whatsapp.png", class: "icon" %>
  <p class="p_whatsapp">+55 (27) 3097 - 0976</p>
  <p class="p_whatsapp">+55 (27) 98163 - 9230</p>
</div>

<div class="contato-email">
  <%= image_tag "email.png", class: "icon" %>
  <p class="p-email">instutomima@gmail.com</p>
</div>

  <div class="instagram">
<a href="https://www.instagram.com/institutomima/" target="_blank" class="instagram-link">
    <%= image_tag "instagram.png", class: "icon" %>
    <span class="p_instagram">@institutomima</span>
  </div>
</a>
