<div class="card-hallyza">
  <div class="hal-img">
    <%= image_tag 'hallyza.png', width: 300, height: 200, quality: :auto, fetch_format: :auto, crop: :fill %>
  </div>
  <div class="main-card">
    <h1>Dra. Hállyza Rodrigues</h1>
    <p>Ginecologia Regenerativa Estética e Saúde Vulvo Vaginal<br>
            CRM-ES 11.1993 | RQE 12.353</p>
    <p>Formada em Medicina pela MULTIVIX - Faculdade Brasileira - Vitória, Espírito Santo.</p>
    <p>Residência Médica em Ginecologia e Obstetrícia pela UFES - Universidade Federal do Espírito Santo.</p>
    <p>Residência Médica em Ultrassonografia em Ginecologia e Obstetrícia pela UFES - Universidade Federal do Espírito Santo.</p>
    <p>Membro Associada a Academia Brasileira de Ginecologia Regenerativa - ABGREF.</p>
    <p>Membro Associada da Associação Brasileira de Cosmetoginecologia - ABCGIN.</p>
    <p>Especializada em Cirurgia Íntima pela Academia Brasileira de Ginecologia Regenerativa - ABGREF.</p>
    <p>Especializada em Infecções Vaginais pelo Curso Ginecoacademy LTDA em associação com a Universidade Estadual Paulista - UNESP.</p>
    <p>Membro Associado da Associação Brasileira de Patologia do Trato Inferior e Colposcopia - ABPTGIC</p>
  </div>
</div>



<div class="home-carrousel">
  <h1 class="fs-1 fs-lg-3 fw-bold mt-5">Conteúdos Educativos</h1>
  <div class="divider">
    <hr class="line">
  </div>
  <div class="container mb-5">
    <div class="cards-carrousel">
      <% @articles.each_with_index do |article, index| %>
          <div class="article-card">
            <% if article.photos.attached? %>
              <%= cl_image_tag article.photos.first.key, class: "article-card-img" %>
            <% end %>
            <div class="article-infos">
              <h5><%= truncate( article.name, length: 100 )%></h5>
              <span><%= article.updated_at.strftime("%b. %d de %Y") %></span>
              <p><%= article.rich_body.to_plain_text %></p>
            </div>
            <div class="d-flex justify-content-end">
              <%= link_to "Saiba Mais", article_path(article), class: "saiba-mais-btn" %>
            </div>
          </div>
      <% end %>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <%= link_to "Ver todos artigos", articles_path, class: "cstm-btn" %>
  </div>
</div>




<div class="home-specialties">
  <h1 class="fs-1 fs-lg-3 fw-bold mt-5">Áreas de Atuação</h1>
  <div class="divider">
    <hr class="line">
  </div>
  <div class="specialties-card">
    <div>
      <%= link_to areas_de_atuacao_path, class: "d-flex flex-column align-items-center" do %>
      <%= image_tag "LOGOMARCA NOVA - TEMPLATES .zip - 189", crop: :fill, class:"specialties-card-img" %>
        <h5>Ginecologia Regenerativa, Estética e Funcional</h5>
      <% end %>
    </div>
    <div>
      <%= link_to areas_de_atuacao_path, class: "d-flex flex-column align-items-center" do %>
      <%= image_tag "LOGOMARCA NOVA - TEMPLATES .zip - 190", crop: :fill, class:"specialties-card-img" %>
        <h5>Saúde Vulvar e Vaginal</h5>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center mt-5">
    <%= link_to "Saiba Mais", areas_de_atuacao_path, class: "cstm-btn" %>
  </div>
</div>
