<div class="container-home d-flex justify-content-center align-items-center">
  <div class="card0 text-start px-3 py-4 d-flex flex-column justify-content-center">
    <h5 class="h2-cl mt-4">Dra. Hállyza Rodrigues</h5>
    <p class="card-text-hal-li">Ginecologia Degenerativa e Saúde Vaginal<br>CRM-ES 11.1993</p>
    <ul class="card-text-hal">
      <li>Formada em Medicina pela MULTIVIX - Faculdade Brasileira - Vitória, Espírito Santo</li>
      <li>Residência Médica em Ginecologia e Obstetrícia pela UFES - Universidade Federal do Espírito Santo</li>
      <li>Residência Médica em Ultrassonografia em Ginecologia e Obstetrícia pela UFES - Universidade Federal do Espírito Santo</li>
      <li>Membra Associada a Academia Brasileira de Ginecologia Regenerativa - ABGREF</li>
      <li>Membra Associada da Associação Brasileira de Cosmetoginecologia - ABCGIN</li>
      <li>Especializada em Cirurgia Íntima Hands-On da Academia Brasileira de Ginecologia Regenerativa</li>
      <li>Especializada em Infecções Vaginais pelo Curso Ginecoacademy LTDA em associação com a Universidade Estadual Paulista - UNESP.BLOG</li>
    </ul>
  </div>
</div>

<div class="carrossel">
  <div class="splide" data-controller="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <% @articles.each_slice(3).each_with_index do |article_group, index| %>
          <li class="splide__slide">
            <div class="cards-wrapper">
              <% article_group.each do |article| %>
                <%= link_to article_path(article), class: "card-title-link" do %>
                  <div class="card-article">
                    <div class="card-article-image">
                      <% if article.photos.attached? %>
                        <%= cl_image_tag article.photos.first.key, width: 600, height: 200, crop: :fill, class: "card-img-top" %>
                      <% else %>
                        <%= render "shared/sampleimg" %>
                      <% end %>
                    </div>
                    <div class="card-body-carousel p-4">
                      <h5 class="card-title"><%= truncate( article.name, length: 20 )%></h5>
                      <span class="card-date-time" style="color: #B58169;"></span>
                      <p class="card-text"><%= truncate(article.rich_body.to_plain_text, length: 120) %></p>
                      <%= link_to "Leia Mais", article_path(article), class: "a-leia" %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="center-todos">
  <%= link_to "Ver todos artigos", articles_path, class: "a-leia-todos" %>
</div>

<h1 class="espcs text-center fs-1 fs-lg-3 fw-bold mt-5">Especializações</h1>

<div class="container-fluid g-5">
  <div class="row g-5">
    <div class="col-12 col-md-6">
      <div class="spec d-flex flex-column align-items-center">
        <%= image_tag "foto1.jpg", crop: :fill %>
        <h5 class="spec-h5">Ginecologia Regenarativa e Funcional</h5>
        <%= link_to "Leia Mais", specialties_path, class: "a-leia-spec" %>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="spec d-flex flex-column align-items-center">
        <%= image_tag "foto2.jpg", crop: :fill %>
        <h5 class="spec-h5 h5-50">Saúde Vaginal</h5>
        <%= link_to "Leia Mais", specialties_path, class: "a-leia-spec" %>
      </div>
    </div>
  </div>
</div>
