<div class="container hal-first-pg">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="row">
        <div class="col-12">
          <div class="container hal-img-pg">
            <%= image_tag 'hallyza.png', width: 438 , height: 575, quality: :auto, fetch_format: :auto, crop: :fill, class: "shadow-lg" %>
          </div>
        </div>
      </div>
    </div>
    <div class="text-hal col-12 col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="container card-hal-text">
            <h5 class="card-title">Dra. Hállyza Rodriges</h5>
            <ul class="card-text">
              <p>Ginecologia Degenerativa e Saúde Vaginal<br> CRM-ES 11.1993</p><br>
              <li>Formada em Medicina pela MULTIVIX - Faculdade Brasileira - Vitória, Espírito Santo</li>
              <li>Residência Médica em Ginecologia e Obstetrícia pela UFES - Universidade Federal do Espírito Santo</li>
              <li>Residência Médica em Ultrassonografia em Ginecologia e Obstetrícia pela UFES - Universidade Federal do Espírito Santo</li>
              <li>Membra Associada a Academia Brasileira de Ginecologia Regenerativa - ABGREF</li>
              <li>Membra Associada da Associação Brasileira de Cosmetoginecologia - ABCGIN</li>
              <li>Especializada em Cirurgia Íntima Hands-On da Academia Brasileira de Ginecologia Regenerativa</li>
              <li>Especializada em Infecções Vaginais pelo Curso Ginecoacademy LTDA em associação com a Universidade Estadual Paulista - UNESP.BLOG</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel" data-flickity='{ "autoPlay": true }'>
    <% if @articles.present? %>
      <% @articles.each do |article| %>
        <% if article.photos.attached? %>
          <% image_url = cl_image_path(article.photos.first.key, :width => 600, :height => 400, :crop => :fill) %>
          <div class="carousel-cell">
            <%= link_to article_path(article) do %>
              <h2><%= article.name %></h2>
              <img src="<%= image_url %>" alt="" class="img-cl">
              <p><%= article.rich_body %></p>
            <% end %>
          </div>
        <% else %>
          <div class="carousel-cell">
            <%= link_to article_path(article) do %>
              <h2><%= article.name %></h2>
              <%= image_tag 'img1.jpeg', crop: "fit", class: "img-cl" %>
              <p><%= article.rich_body %></p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="carousel" data-flickity='{ "autoPlay": true }'>
    <% @image_urls.each do |image_url| %>
      <div class="carousel-cell">
        <img src="<%= image_url %>" alt="" class="img-cl">
      </div>
    <% end %>
  </div>
