<div class="container">
  <!-- Institute section -->
  <div class="institute">
    <h1 class="inst-main">O Instituto Mima</h1>
    <!-- About section -->
    <div class="about">
      <div class="row">
        <!-- Institute Card 1 -->
        <div class="col-md-6">
          <div class="institute-card-1">
            <%= image_tag "Consultório2.jpg", alt: "Consultório 2", class: "img-fluid card-img-2 img-rounded" %>
        <h1 class="institute-h1">A construção de um sonho</h1>
            <h2 class="institute-h2">O começo de tudo</h2>
            <p class="p-color">O Instituto Mima nasceu do sonho deoferecer à mulher moderna um lugar onde ela possa estar em todas as suas fases de vida.<br>
              A Dra. Mayumi Noda esteve à procurade profissionais que pudessem assumir essa assistência.
              O sonho está em construção, estamos <strong>empenhadas</strong> e <strong>imersas</strong> nesse mesmo objetivo, dedicadas ao cuidado da mulher desde os seus desejos e dificuldades mais íntimas.</p>
            <h2 class="institute-h2">Instituto Mima dispõe de sala tecnológica de procedimentos</h2>
            <p class="p-color">Esta sala segue todas as normativas necessárias. As normativas atuais da Vigilência Sanitária foram consultadas pela nossa enfermeira Isadora Stein,formada pela Escola Superior de Ciências da SantaCasa de Misericórdia de Vitória, EMESCAM e com MBA em Gestão Empresarial pela FGV.
              A sala possui uma mesa e foco cirúrgicos, aparelho de Wavetronic e suas ponteiras respectivas, bandejas de pequenas cirurgias e para implantes de DIU, além detodo o material descartável necessário.
              O Instituto possui parceira com grupo de Anestesiologia caso haja necessidade de sedação daspacientes.</p>
          </div>
        </div>
        <!-- Institute Card 2 -->
        <div class="col-md-6">
          <div class="institute-card-2">
            <%= image_tag "Consultório3.jpg", alt: "Consultório 3", class: "img-fluid card-img-3 img-rounded" %>
            <h1 class="institute-h1">A nossa filosifia</h1>
            <h2 class="institute-h2" >1 - PROPÓSITOS COMUNS</h2>
            <p class="p-color">Objetivos compartilhados diminuem a distância entre a equipe e o destino final que almejam.</p>
            <h2 class="institute-h2" >2 - SOLIDARIEDADE</h2>
            <p class="p-color">A ajuda e proteção mútua nas palavras e nas atitudes colaboram para a resolução mais rápida e mais efetiva dos problemas.</p>
            <h2 class="institute-h2" >3 - FORÇA</h2>
            <p class="p-color">Mais pessoas dedicadas aumentam a força e asegurança do processo.</p>
            <h2 class="institute-h2" >4 - REVEZAMENTO</h2>
            <p class="p-color">O trabalho árduo pode ser extenuante, A arte de delegar e confiar na liderança do outro é extremamente vantajosapara uma equipe que tem os mesmos propósitos.</p>
            <h2 class="institute-h2" >5 - MOTIVAÇÃO</h2>
            <p class="p-color">O encorajamento constante mantém o ritmo de trabalho constante.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Institute Card 3 -->
        <div class="col-md-6">
          <div class="institute-card-3">
            <%= image_tag "Consultório1.jpg", alt: "Consultório 1", class: "img-fluid card-img-1 img-rounded" %>
          </div>
        </div>
        <!-- Institute Card 4 -->
        <div class="col-md-6">
          <div class="institute-card-4">
            <%= image_tag "Consultório4.jpg", alt: "Consultório 4", class: "img-fluid card-img-4 img-rounded" %>
          </div>
        </div>
      </div>
      <!-- Institute Card 5 -->
      <div class="row">
        <div class="col-md-6">
          <div class="institute-card-5">
            <%= image_tag "Equipamento1.jpg", alt: "Equipamento 1", class: "img-fluid card-img-5 img-rounded" %>
            <p class="p-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Aliquam maximus id metus ut pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Etiam mattis dolor eget elementum lobortis. Proin ac sodales metus. Etiam id volutpat odio.
              Nam auctor interdum massa, et condimentum dolor luctus nec. Aliquam eu dapibus urna.
              In vulputate condimentum urna ac vestibulum. Nulla facil.</p>
          </div>
        </div>
        <!-- Institute Card 6 -->
        <div class="col-md-6">
          <div class="institute-card-6">
            <%= image_tag "Equipamento2.jpg", alt: "Equipamento 2", class: "img-fluid card-img-6 img-rounded" %>
            <p class="p-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Aliquam maximus id metus ut pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Etiam mattis dolor eget elementum lobortis. Proin ac sodales metus. Etiam id volutpat odio.
              Nam auctor interdum massa, et condimentum dolor luctus nec. Aliquam eu dapibus urna.
              In vulputate condimentum urna ac vestibulum. Nulla facil.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
