<div class="container">
  <!-- Institute section -->
  <div class="institute">
    <h1 class="inst-main">O Instituto Mima</h1>

    <!-- About section -->
    <div class="about">
      <div class="row">
        <!-- Institute Card 1 -->
        <div class="col-md-6">
          <div class="institute-card-1">
            <%= image_tag "Consultório1.jpg", alt: "Consultório 1", class: "img-fluid card-img-1 img-rounded" %>
            <p class="instituto-p-1 p-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Aliquam maximus id metus ut pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Etiam mattis dolor eget elementum lobortis. Proin ac sodales metus. Etiam id volutpat odio.
              Nam auctor interdum massa, et condimentum dolor luctus nec. Aliquam eu dapibus urna.
              In vulputate condimentum urna ac vestibulum. Nulla facil.</p>
          </div>
        </div>

        <!-- Institute Card 2 -->
        <div class="col-md-6">
          <div class="institute-card-2">
            <%= image_tag "Consultório2.jpg", alt: "Consultório 2", class: "img-fluid card-img-2 img-rounded" %>
            <p class="instituto-p-2 p-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Aliquam maximus id metus ut pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Etiam mattis dolor eget elementum lobortis. Proin ac sodales metus. Etiam id volutpat odio.
              Nam auctor interdum massa, et condimentum dolor luctus nec. Aliquam eu dapibus urna.
              In vulputate condimentum urna ac vestibulum. Nulla facil.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Institute Card 3 -->
        <div class="col-md-6">
          <div class="institute-card-3">
            <%= image_tag "Consultório3.jpg", alt: "Consultório 3", class: "img-fluid card-img-3 img-rounded" %>
            <p class="instituto-p-3 p-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Aliquam maximus id metus ut pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Etiam mattis dolor eget elementum lobortis. Proin ac sodales metus. Etiam id volutpat odio.
              Nam auctor interdum massa, et condimentum dolor luctus nec. Aliquam eu dapibus urna.
              In vulputate condimentum urna ac vestibulum. Nulla facil.</p>
          </div>
        </div>

        <!-- Institute Card 4 -->
        <div class="col-md-6">
          <div class="institute-card-4">
            <%= image_tag "Consultório4.jpg", alt: "Consultório 4", class: "img-fluid card-img-4 img-rounded" %>
            <p class="instituto-p-4 p-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Aliquam maximus id metus ut pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Etiam mattis dolor eget elementum lobortis. Proin ac sodales metus. Etiam id volutpat odio.
              Nam auctor interdum massa, et condimentum dolor luctus nec. Aliquam eu dapibus urna.
              In vulputate condimentum urna ac vestibulum. Nulla facil.</p>
          </div>
        </div>
      </div>

      <!-- Institute Card 5 -->
      <div class="row">
        <div class="col-md-6">
          <div class="institute-card-5">
            <%= image_tag "Equipamento1.jpg", alt: "Equipamento 1", class: "img-fluid card-img-5 img-rounded" %>
            <p class="instituto-p-5 p-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Aliquam maximus id metus ut pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Etiam mattis dolor eget elementum lobortis. Proin ac sodales metus. Etiam id volutpat odio.
              Nam auctor interdum massa, et condimentum dolor luctus nec. Aliquam eu dapibus urna.
              In vulputate condimentum urna ac vestibulum. Nulla facil.</p>
          </div>
        </div>

        <!-- Institute Card 6 -->
        <div class="col-md-6">
          <div class="institute-card-6">
            <%= image_tag "Equipamento2.jpg", alt: "Equipamento 2", class: "img-fluid card-img-6 img-rounded" %>
            <p class="instituto-p-6 p-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Aliquam maximus id metus ut pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Etiam mattis dolor eget elementum lobortis. Proin ac sodales metus. Etiam id volutpat odio.
              Nam auctor interdum massa, et condimentum dolor luctus nec. Aliquam eu dapibus urna.
              In vulputate condimentum urna ac vestibulum. Nulla facil.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
