<div class="container">
  <!-- Institute section -->
  <div class="institute">
    <h1 class="inst-main">O Instituto Mima</h1>
    <h4 class="institute-h4">Venha conhecer o Instituto Mima, um centro de saúde integrado para a mulher moderna.
Se você busca saúde, qualidade de vida e autoestima, seu lugar é aqui.  </h4>
    <h3 class="institute-h3"><a href="/contact" class="btn-agendamento">Marque <strong>hoje</strong> sua consulta  aqui.</a></h3>

    <!-- About section -->
    <div class="about">
      <div class="row">
        <!-- Institute Card 1 -->
        <div class="col-md-6">
          <div class="institute-card-1">
            <%= image_tag "Consultório2.jpg", alt: "Consultório 2", class: "img-fluid card-img-2 img-rounded" %>
            <%# <h1 class="institute-h1">A construção de um sonho</h1> %>
            <h2 class="institute-h2">Quem somos</h2>
            <p class="p-color">O Instituto Mima é um centro de atenção e cuidado integrativo para você, mulher, que é única e
            está em constante mudança. Oferecemos privacidade, acolhimento, segurança e comodidade.</p>
            <p class="p-color">Nossa equipe médica integra três ginecologistas, atuando em áreas diferentes, mas complementares.
            Temos um olhar diferente e inovador sobre os prazeres e desafios de ser mulher.</p>

            <h2 class="institute-h2">O começo de tudo</h2>
            <p class="p-color">O Instituto Mima nasceu do sonho deoferecer à mulher moderna um lugar onde ela possa estar em todas as
            suas fases de vida.</p>
            <p class="p-color">A Dra. Mayumi Noda esteve à procurade profissionais que pudessem assumir essa assistência.
            O sonho está em construção, estamos <strong>empenhadas</strong> e <strong>imersas</strong> nesse mesmo objetivo,
            dedicadas ao cuidado da mulher desde os seus desejos e dificuldades mais íntimas.</p>

          </div>
        </div>
        <!-- Institute Card 2 -->
        <div class="col-md-6">
          <div class="institute-card-2">
            <%= image_tag "Consultório4.jpg", alt: "Consultório 4", class: "img-fluid card-img-4 img-rounded" %>
            <h2 class="institute-h2">A nossa filosifia</h2>
            <h5 class="institute-h5" >1 - PROPÓSITOS COMUNS</h5>
            <p class="p-color">Objetivos compartilhados diminuem a distância entre a equipe e o destino final que almejam.</p>
            <h5 class="institute-h5" >2 - SOLIDARIEDADE</h5>
            <p class="p-color">A ajuda e proteção mútua nas palavras e nas atitudes colaboram para a resolução mais rápida e mais efetiva dos problemas.</p>
            <h5 class="institute-h5" >3 - FORÇA</h5>
            <p class="p-color">Mais pessoas dedicadas aumentam a força e asegurança do processo.</p>
            <h5 class="institute-h5" >4 - REVEZAMENTO</h5>
            <p class="p-color">O trabalho árduo pode ser extenuante, A arte de delegar e confiar na liderança do outro é extremamente vantajosa para uma equipe que tem os mesmos propósitos.</p>
            <h5 class="institute-h5" >5 - MOTIVAÇÃO</h5>
            <p class="p-color">O encorajamento constante mantém o ritmo de trabalho constante.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Institute Card 3 -->
        <div class="col-md-6">
          <div class="institute-card-3">
            <%= image_tag "Consultório3.jpg", alt: "Consultório 3", class: "img-fluid card-img-3 img-rounded" %>
            <h2 class="institute-h2">O nosso espaço</h2>
            <p class="p-color">O espaço além de limpo e acolhedor, tem uma vista incrível de um dos mais famosos e belos cartões-postais da Grande Vitória,
            no Espírito Santo.</p>
            <p class="p-color">Além da nossa recepção aconchegante, contamos com recepcionistas resolutivas, rápidas e organizadas. Nossa equipe de enfermagem é especializada, atualizada, dedicada
            e muito habilidosa. Nossos consultórios são equipados com mesas de exame eletrônicas, confortáveis e banheiros acessíveis. Um aparelho de ultrassonografia, um microscópio, colposcópio,
            aparelho de radiofrequência ablativa e não ablativa, LED, um bisturi de alta frequência e laser também estão disponíveis.</p>
            <p class="p-color">Dispomos também de uma sala cirúrgica completa, adequadamente adaptada e regulamentada para procedimentos
            de baixa e média complexidade, assim como a manipulação e aplicação de injetáveis de forma tranquila e segura.</p>
          </div>
        </div>
        <!-- Institute Card 4 -->
        <div class="col-md-6">
          <div class="institute-card-4">
            <%= image_tag "Equipamento2.jpg", alt: "Equipamento 2", class: "img-fluid card-img-6 img-rounded" %>
            <h2 class="institute-h2">Nossos profissionais</h2>
            <p class="p-color">Além disso, o Instituto também conta com <strong>Obstetra de Alto Risco</strong>, <strong>Cardiologista da Mulher</strong>, <strong>Psiquiatra</strong>, <strong>Nutróloga</strong>,
            <strong>Nutricionista</strong>, <strong>Urologista</strong> e <strong>Médica Acupunturista</strong>, além de parcerias em outras áreas como Anestesia, Ultrassonografia,
            Fisioterapia e Educação Física - Personal Trainer.</p>
            <h2 class="institute-h2">Instituto Mima dispõe de sala tecnológica de procedimentos</h2>
            <p class="p-color">Esta sala segue todas as normativas necessárias. As normativas atuais da Vigilência Sanitária foram consultadas
            pela nossa enfermeira Isadora Stein, formada pela Escola Superior de Ciências da SantaCasa de Misericórdia de Vitória, EMESCAM e com MBA em Gestão Empresarial pela FGV. </p>
            <p class="p-color">A sala possui uma mesa e foco cirúrgicos, aparelho de Wavetronic e suas ponteiras respectivas, bandejas de pequenas cirurgias e
            para implantes de DIU, além detodo o material descartável necessário.
            O Instituto possui parceira com grupo de Anestesiologia caso haja necessidade de sedação das pacientes.</p>
          </div>
        </div>
      </div>
      <!-- Institute Card 5 -->
      <h1 class="inst-main">Marque uma consulta</h1>
      <div class="row">
        <div class="col-md-6">
          <div class="institute-card-5">
            <%= image_tag "Equipamento1.jpg", alt: "Equipamento 1", class: "img-fluid card-img-5 img-rounded" %>
            <p class="p-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Aliquam maximus id metus ut pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Etiam mattis dolor eget elementum lobortis. Proin ac sodales metus. Etiam id volutpat odio.
              Nam auctor interdum massa, et condimentum dolor luctus nec. Aliquam eu dapibus urna.
              In vulputate condimentum urna ac vestibulum. Nulla facil.</p>
          </div>
        </div>
        <!-- Institute Card 6 -->
        <div class="col-md-6">
          <div class="institute-card-6">
            <%= image_tag "Consultório1.jpg", alt: "Consultório 1", class: "img-fluid card-img-1 img-rounded" %>
            <p class="p-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Aliquam maximus id metus ut pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Etiam mattis dolor eget elementum lobortis. Proin ac sodales metus. Etiam id volutpat odio.
              Nam auctor interdum massa, et condimentum dolor luctus nec. Aliquam eu dapibus urna.
              In vulputate condimentum urna ac vestibulum. Nulla facil.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
