<div class="container">
  <!-- Institute section -->
  <div class="institute">
    <h1 class="inst-main">O Instituto Mima</h1>
    <h4 class="institute-h4">Venha conhecer o Instituto Mima, um centro de saúde integrado para a mulher moderna.
      Se você busca saúde, qualidade de vida e autoestima, seu lugar é aqui.  </h4>
    <h3 class="institute-h3"><a href="https://wa.me/5527998516085" target="_blank" class="btn-agendamento">Agende sua consulta</a></h3>
    <!-- About section -->
    <div class="about">
      <div class="row">
        <!-- Institute Card 1 -->
        <div class="col-md-6">
          <div class="institute-card-1">
            <%= image_tag "Consultório2.jpg", alt: "Consultório 2", class: "img-fluid card-img-2 img-rounded" %>
            <h2 class="institute-h2">Quem somos</h2>
            <p class="p-color">O Instituto Mima é um centro de atenção e cuidado integrativo para você, mulher, que é única e
              está em constante mudança. Oferecemos privacidade, acolhimento, segurança e comodidade.</p>
            <p class="p-color">Nossa equipe médica integra três ginecologistas, atuando em áreas diferentes, mas complementares.
              Temos um olhar diferente e inovador sobre os prazeres e desafios de ser mulher.</p>
            <h2 class="institute-h2">O começo de tudo</h2>
            <p class="p-color">O Instituto Mima nasceu do sonho de oferecer à mulher moderna um lugar onde ela possa estar em todas as
              suas fases de vida.</p>
            <p class="p-color">A Dra. Mayumi Noda (CEO do Instituto Mima) esteve à procura de profissionais que pudessem assumir essa assistência.
              O sonho está em construção, estamos empenhadas e imersas nesse mesmo objetivo,
              dedicadas ao cuidado da mulher desde os seus desejos e dificuldades mais íntimas.</p>
          </div>
        </div>
        <!-- Institute Card 2 -->
        <div class="col-md-6">
          <div class="institute-card-2">
            <%= image_tag "Consultório4.jpg", alt: "Consultório 4", class: "img-fluid card-img-4 img-rounded" %>
            <h2 class="institute-h2">A nossa filosofia</h2>
            <h5 class="institute-h5" >Propósitos Comuns</h5>
            <p class="p-color">Objetivos compartilhados diminuem a distância entre a equipe e o destino final que almejam.</p>
            <h5 class="institute-h5" >Solidariedade</h5>
            <p class="p-color">A ajuda e proteção mútua nas palavras e nas atitudes colaboram para a resolução mais rápida e mais efetiva dos problemas.</p>
            <h5 class="institute-h5" >Força</h5>
            <p class="p-color">Mais pessoas dedicadas aumentam a força e a segurança do processo.</p>
            <h5 class="institute-h5" >Revezamento</h5>
            <p class="p-color">O trabalho árduo pode ser extenuante. A arte de delegar e confiar na liderança do outro é extremamente vantajosa para uma equipe que tem os mesmos propósitos.</p>
            <h5 class="institute-h5" >Motivação</h5>
            <p class="p-color">O encorajamento constante mantém o ritmo de trabalho constante.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Institute Card 3 -->
        <div class="col-md-6">
          <div class="institute-card-3">
            <%= image_tag "Consultório3.jpg", alt: "Consultório 3", class: "img-fluid card-img-3 img-rounded" %>
            <h2 class="institute-h2">O Nosso espaço</h2>
            <p class="p-color">O espaço além de limpo e acolhedor, tem uma vista incrível de um dos mais famosos e belos cartões-postais da Grande Vitória,
              no Espírito Santo.</p>
            <p class="p-color">Além da nossa recepção aconchegante, contamos com recepcionistas resolutivas, rápidas e organizadas. Nossa equipe de enfermagem é especializada, atualizada, dedicada
              e muito habilidosa. Nossos consultórios são equipados com mesas de exame eletrônicas, confortáveis e banheiros acessíveis. Um aparelho de ultrassonografia, um microscópio, colposcópio,
              aparelho de radiofrequência ablativa e não ablativa, LED, um bisturi de alta frequência e laser também estão disponíveis.</p>
            <p class="p-color">Dispomos também de uma sala cirúrgica completa, adequadamente adaptada e regulamentada para procedimentos
              de baixa e média complexidade, assim como a manipulação e aplicação de injetáveis de forma tranquila e segura.</p>
          </div>
        </div>
        <!-- Institute Card 4 -->
        <div class="col-md-6">
          <div class="institute-card-4">
            <%= image_tag "Equipamento2.jpg", alt: "Equipamento 2", class: "img-fluid card-img-6 img-rounded" %>
            <h2 class="institute-h2">Instituto Mima dispõe de sala tecnológica de procedimentos</h2>
            <p class="p-color">Esta sala segue todas as normativas necessárias. As normativas atuais da Vigilência Sanitária foram consultadas
              pela nossa enfermeira Isadora Stein, formada pela Escola Superior de Ciências da SantaCasa de Misericórdia de Vitória, EMESCAM e com MBA em Gestão Empresarial pela FGV. </p>
            <p class="p-color">A sala possui uma mesa e foco cirúrgicos, aparelho de Wavetronic e suas ponteiras respectivas, bandejas de pequenas cirurgias e
              para implantes de DIU, além detodo o material descartável necessário.
              O Instituto possui parceira com grupo de Anestesiologia caso haja necessidade de sedação das pacientes.</p>
            <h2 class="institute-h2">Nossos profissionais</h2>
            <p class="p-color">Além disso, o Instituto também conta com <strong>Obstetra de Alto Risco</strong>, <strong>Cardiologista da Mulher</strong>, <strong>Psiquiatra</strong>, <strong>Nutróloga</strong>,
              <strong>Nutricionista</strong>, <strong>Urologista</strong> e <strong>Médica Acupunturista</strong>, além de parcerias em outras áreas como Anestesia, Ultrassonografia,
              Fisioterapia e Educação Física - Personal Trainer.</p>
          </div>
        </div>
      </div>
      <h2 class="institute-h6">Conheça nossa equipe de Ginecologia:</h2>
      <div class="instagram-container">

          <div class="instagram">
              <%= image_tag "instagram.svg", class: "icon" %>
              <p class="p-email"><a href="https://www.instagram.com/dramayuminoda/" target="_blank" class="instagram-link">@dramayuminoda</a></p>
          </div>
          <div class="instagram">
              <%= image_tag "instagram.svg", class: "icon" %>
              <p class="p-email"><a href="https://www.instagram.com/drahallyza/" target="_blank" class="instagram-link">@drahallyza</a></p>
          </div>
          <div class="instagram">
              <%= image_tag "instagram.svg", class: "icon" %>
              <p class="p-email"><a href="https://www.instagram.com/drathaysfurtado/" target="_blank" class="instagram-link">@drathaysfurtado</a></p>
          </div>
      </div>
      <!-- Institute Card 5 -->
      <h3 class="institute-h3"><a href="https://wa.me/5527998516085" target="_blank" class="btn-agendamento">Agende sua consulta</a></h3>
    </div>
  </div>
</div>
</div>
