<div class="institute">
  <h1>O Intituto Mima</h1>
  <div>
  <h5>Sobre nós:</h5>
  <div class="institute-card-1">
    <p class="institute-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aliquam maximus id metus ut pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Etiam mattis dolor eget elementum lobortis. Proin ac sodales metus. Etiam id volutpat odio.
      Nam auctor interdum massa, et condimentum dolor luctus nec. Aliquam eu dapibus urna.
      In vulputate condimentum urna ac vestibulum. Nulla facil. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aliquam maximus id metus ut pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Etiam mattis dolor eget elementum lobortis.</p>
    <%= image_tag "Consultório1.jpg", crop: :fill %>
  </div>

  <div class="institute-card-2">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aliquam maximus id metus ut pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Etiam mattis dolor eget elementum lobortis. Proin ac sodales metus. Etiam id volutpat odio.
      Nam auctor interdum massa, et condimentum dolor luctus nec. Aliquam eu dapibus urna.
      In vulputate condimentum urna ac vestibulum. Nulla facil.</p>
    <%= image_tag "Consultório2.jpg", crop: :fill %>
  </div>

  <div class="institute-card-3">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aliquam maximus id metus ut pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Etiam mattis dolor eget elementum lobortis. Proin ac sodales metus. Etiam id volutpat odio.
      Nam auctor interdum massa, et condimentum dolor luctus nec. Aliquam eu dapibus urna.
      In vulputate condimentum urna ac vestibulum. Nulla facil.</p>
    <%= image_tag "Consultório3.jpg", crop: :fill %>
  </div>

  <div class="institute-card-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aliquam maximus id metus ut pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Etiam mattis dolor eget elementum lobortis. Proin ac sodales metus. Etiam id volutpat odio.
      Nam auctor interdum massa, et condimentum dolor luctus nec. Aliquam eu dapibus urna.
      In vulputate condimentum urna ac vestibulum. Nulla facil.</p>
    <%= image_tag "Consultório4.jpg", crop: :fill %>
  </div>

  <div class="institute-card-5">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aliquam maximus id metus ut pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Etiam mattis dolor eget elementum lobortis. Proin ac sodales metus. Etiam id volutpat odio.
      Nam auctor interdum massa, et condimentum dolor luctus nec. Aliquam eu dapibus urna.
      In vulputate condimentum urna ac vestibulum. Nulla facil.</p>
    <%= image_tag "Equipamento1.jpg", crop: :fill %>
  </div>

  <div class="institute-card-6">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aliquam maximus id metus ut pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Etiam mattis dolor eget elementum lobortis. Proin ac sodales metus. Etiam id volutpat odio.
      Nam auctor interdum massa, et condimentum dolor luctus nec. Aliquam eu dapibus urna.
      In vulputate condimentum urna ac vestibulum. Nulla facil.</p>
    <%= image_tag "Equipamento2.jpg", crop: :fill %>
  </div>
</div>
